<div class="modal-wrapper" style="padding: 15px;">
  <h3 style="text-align:center;">Edit Cache Profile</h3>
  <div ng-if="isLoading" style="text-align:center;">
    <p><i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i> Loading...</p>
  </div>
  <div ng-if="!isLoading">
    <div ng-show="operationtype === 'edit'">
      <table class="table table-striped" style="margin-bottom:10px;">
        <tr ng-repeat="key in columnsorder">
          <td style="width:150px;">{{key}}</td>
          <td>
            <div ng-show="['label','type','memo', 'start_date','end_date','prev_days','sample'].indexOf(key)===-1">
              {{editObj[key]}}
            </div>
            <div ng-show="['label','type','start_date','end_date','prev_days','sample'].indexOf(key)!==-1">
              <input type="text" class="form-control" ng-model="editObj[key]" />
            </div>
            <div ng-show="['memo'].indexOf(key)!==-1">
              <textarea class="form-control" ng-model="editObj[key]" rows="2"></textarea>
            </div>
          </td>
        </tr>
      </table>
      
      <div class="footer clearfix" style="width: 130px; margin:0 auto;">
        <button type="button" class="btn btn-default pull-left" style="" ng-click="cancel()">close</button>
        <button type="button" class="btn btn-default pull-left active" style="margin-left:10px;" ng-click="save_modify()">save</button>
      </div>
    </div>
  </div>
</div>
