<div class="modal-wrapper" style="padding: 15px;">
  <h3 style="text-align:center;">Loaded Data Summary</h3>
  <div style="margin-bottom:30px; margin-top:30px;">
    <div class="table" ng-repeat="ctype in counttypes" style="margin-bottom:50px;">
      <h4><i class="fa fa-square" style="font-size:12px; margin-right:3px;"></i>{{ctype.label}} Count</h4>
      <table class="table" style="margin-left:5px;">
        <tr ng-show="$index===0">
          <th></th>
          <th ng-repeat="dtype in datatypes" style="font-size:14px;">
            <i ng-if="dtype.type==='total'" class="glyphicon glyphicon-calendar"></i>
            <i ng-if="dtype.type==='useg'" class="fa fa-users"></i>
            <i ng-if="dtype.type==='cv'" class="fa fa-shopping-cart"></i>
            {{dtype.label}}
          </th>
        </tr>
        <tr ng-repeat="ltype in logtypes">
          <th style="text-align:right; font-size:14px;">{{ltype.label}}</th>
          <td ng-repeat="dtype in datatypes" style="text-align:right;">{{datadict[ctype.type][dtype.type][ltype.type]}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="footer clearfix">
    <div class="clearfix" style="width:90px; margin: 0 auto;">
      <button type="button" class="btn btn-default pull-left" style="width:87px;margin-right:5px;" ng-click="cancel()">close</button>
    </div>
  </div>
</div>
