<table class="config-parts-selection-list" style="margin-top:10px;">
  <tr ng-repeat="parts in row.userselectpartslist track by $index">
    <td style="width:20px;">
      <span ng-if="parts.isSelected" class="fa fa-check-circle-o" style="color:#45B29D;"></span>
    </td>
    <td>
      <p>{{parts.condName}}<i ng-if="parts.memo!=''" class="fa fa-question" ng-click="parts.isHelpCollapse = (parts.isHelpCollapse===undefined) ? false : !parts.isHelpCollapse"></i></p>
      <div uib-collapse="parts.isHelpCollapse !== false">
        {{parts.memo}}
      </div>
    </td>
    <td>
      <ul style="list-style:none;">
        <li ng-repeat="uinput in parts.userinputs">
          <div ng-class="{'has-error' : uinput.iserror}">
            <input type="text" class="form-control" ng-model="uinput.value"
                   ng-blur="checkFormatOfUserInput(filterObj, parts, uinput)"
                   placeholder="{{uinput.label}}" />
           <div class="alert alert-danger" role="alert" ng-if="uinput.message" style="margin-top:5px;"><i class="fa fa-exclamation-triangle"></i>{{uinput.message}}</div>
          </div>
        </li>
      </ul>
    </td>
    <td>
      <!--<button type="button" class="btn btn-default pull-left" ng-click="changeSelectStatus(filterObj, parts, !parts.isSelected)" ng-disabled="!parts.userinputok">-->
      <button type="button" class="btn btn-default pull-left" ng-click="changeSelectStatus(filterObj, parts)">
        <i ng-show="parts.isSelected"  class="fa fa-minus"></i>
        <i ng-show="!parts.isSelected" class="fa fa-plus"></i>
      </button>
    </td>
  </tr>
</table>
<div ng-repeat="row2 in filterObj" ng-if="row2.type === 'condvalue' && isOwner">
  <textarea 
    class="form-control"
    rows="2"
    placeholder="preview of the above selection"
    ng-disabled="true"
    style="margin-top:10px; margin-left:20px; width:calc(100% - 20px);"
    ng-model="row2.value"></textarea>
</div>
