.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.pre-line {
  white-space: pre-line;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}