
<div style="margin-top: 10px;">
  <div ng-if="vm.lang === 'Japanese'">
    <p>データがインポートされていません。条件を選択し"適用"ボタンをクリックしてインポートして下さい。</p>
<!--
    <ul>
      <li>
        <p>Step1 : <i class="glyphicon glyphicon-calendar"></i> データセットを選択</p>
      </li>
      <li>Step2 : <i class="fa fa-users"></i> ユーザーセグメントを選択 </li>
      <li>
        <p>Step3 : <i class="fa fa-dot-circle-o"></i> コンバージョン条件を選択 </p>
      </li>
      <li>
        <p>Step4 : "適用"ボタンをクリック </p>
      </li>
    </ul>
-->
  </div>
  <div ng-if="vm.lang !== 'Japanese'" style="font-size:18px;">
    <p>Get started by importing data</p>
<!--
    <ul>
      <li style="list-style-type:none;">
        <p>Step1 : Choose dataset from <i class="glyphicon glyphicon-calendar"></i> tab.</p>
      </li>
      <li style="list-style-type:none;">Step2 : Choose user segment option from <i class="fa fa-users"></i> tab.</li>
      <li style="list-style-type:none;">
        <p>Step3 : Choose CV condition from <i class="fa fa-dot-circle-o"></i> tab.</p>
      </li>
      <li style="list-style-type:none;">
        <p>Step4 : Click "Apply" button.</p>
      </li>
    </ul>
-->
  </div>
</div>

<!--
You do not import data yet.

How to import?

Step1. Select data set

Step2. ..
-->
