<!-- chart template -->
<div class="path-summary-content clearfix">
  <div class="header-options" ng-show="summary.length > 0">
    <div class="widget-title clearfix">
      <p 
        ng-repeat="sum in summary track by $index"
        ng-style="{width: 70/summary.length + '%'}"
        class="pull-left dist-summary">
        <span class="dist-summary-bold">{{sum.title}}</span> : {{sum.value | number:2}} 
      </p>
      <p class="input-group pull-right dist-summary" style="margin-right:10px;line-height:32px;width:30%;">
        <span class="dist-summary-bold">
          {{tailrate_title}} : 
        </span>
        {{tailrate*100 | number:2}}%
      </p>
    </div>
  </div>
  <!-- nvd3 field -->
  <aq-chart 
      ng-show="isLoaded" 
      data="data[selectedIndex].nvd3" 
      charttype="chartType" 
      options="chart_options" 
      colors="chart_colors" 
      yaxistitle="yaxis_title" 
      xaxistitle="xaxis_title" 
      yaxislabels="yaxis_labels" 
      xaxislabels="xaxis_labels" 
      isshowlegendflg="isshowlegendflg"
      lang="optglbl.lang"></aq-chart>
</div>

