<div class="header-options path-summary-header">
  <div class="widget-title clearfix">
    <!-- options -->
    <div ng-repeat="optobj in options">
      <!-- select tag -->
      <div ng-if="optobj.type === 'select'" >
        <div
            ng-if="optobj.list.length > 1 && (optobj.name!=='showPreviousPeriod' || (optobj.name==='showPreviousPeriod' && optglbl.currentimported.start_date!=='' && optglbl.currentimported.end_date!=='' && optglbl.currentimported.back_days!==''))" 
            class="dropdown-container inline ng-scope pull-left" uib-dropdown btn-group>
          <button
           type="button"
           class="btn btn-default btn-sm dropdown-toggle"
           uib-dropdown-toggle
           data-toggle="uib-dropdown"
           aria-haspopup="true"
           ng-disabled="optobj.disabled.status || isviewmode"
           ng-class="{isChanged : optobj.selected.label !== optobj.applied.label}"
           aria-expanded="false">
            {{optobj.selected.label}}
            <span class="icon-chevron-down"></span>
           </button>
           <ul class="dropdown-menu dropdown-default ng-scope" role="menu" uib-dropdown-menu="">
            <li class="dropdown-header">{{optobj.description}}</li>
            <li ng-repeat="listobj in optobj.list track by $index">
              <a href ng-click="setOptions(optobj, listobj, $index)" 
                      ng-hide="returnIsDisabledItem(optobj, listobj)">{{listobj.label}}</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- children options of select tag -->
      <div ng-if="optobj.type === 'select' && optobj.selected.children !== undefined" >
        <div
            ng-if="optobj.selected.children.list.length > 1" 
            class="dropdown-container inline ng-scope pull-left" uib-dropdown btn-group>
          <button
           type="button"
           class="btn btn-default btn-sm dropdown-toggle"
           uib-dropdown-toggle
           data-toggle="uib-dropdown"
           aria-haspopup="true"
           ng-disabled="optobj.disabled.status || isviewmode"
           ng-class="{isChanged : optobj.selected.children.selected.label !== optobj.selected.children.applied.label}"
           aria-expanded="false">
            {{optobj.selected.children.selected.label}}
            <span class="icon-chevron-down"></span>
           </button>
           <ul class="dropdown-menu dropdown-default ng-scope" role="menu" uib-dropdown-menu="">
            <li class="dropdown-header">{{optobj.selected.children.description}}</li>
            <li ng-repeat="listobj in optobj.selected.children.list track by $index">
              <a href ng-click="setOptions(optobj.selected.children, listobj, $index)" 
                      ng-hide="returnIsDisabledItem(optobj.selected.children, listobj)">{{listobj.label}}</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- number input tag -->
      <div ng-if="optobj.type === 'number'" class="input-group pull-left">
        <div class="input-group-addon">{{optobj.label}}</div>
        <input 
           type="number"
           min="optobj.min"
           max="optobj.max"
           class="form-control"
           ng-class="{isChanged : optobj.selected !== optobj.applied}"
           ng-blur="setIsChangedToApplyButton()"
           ng-model="optobj.selected" />
      </div>
    </div>
    <span class="warning-message-text pull-left">{{message}}</span>
    <div class="pull-right" style="margin-right:10px;">
      <span style="margin-left:5px;" 
            ng-show="options.length > 0"
            ng-click="applySelection('view')" 
            ng-class="{isActiveApply : isChanged}"
            ng-disabled="!isChanged || isviewmode || !isLoaded"
            class="btn btn-default btn-apply pull-left">{{words.apply}}</span>
      <span style="margin-left:5px;" 
            ng-if="masterflg"
            ng-click="forceRun()" 
            ng-disabled="isviewmode || !isLoaded"
            class="btn btn-default btn-apply pull-left"><i class="fa fa-refresh"></i></span>
      <span 
           ng-click="applySelection('dl')" 
           ng-disabled="isChanged || isviewmode || !isLoaded"
           style="margin-left:5px;"
           class="btn btn-default btn-apply pull-left">
           <i class="glyphicon glyphicon-download-alt"></i>
      </span>
      <span ng-if="contentType==='attrScore'" style="margin-left:3px;">
        <upload-file-parts-aq
          uid="optglbl.uid"
          lid="optglbl.lid"
          ftype="'cost.csv'"
          lang="optglbl.lang"
          fuploadcnt="fuploadcnt"></upload-file-parts-aq>
      </span>
    </div>
  </div>
</div>
<!-- END OF HEADER -->
