<!-- Detail dist freq selection -->
<div class="dropdown-container inline ng-scope" uib-dropdown btn-group>
  <button 
   type="button" 
   class="btn btn-default button-dist-freq dropdown-toggle" 
   uib-dropdown-toggle 
   data-toggle="uib-dropdown"
   aria-haspopup="true" 
   aria-expanded="false"
   ng-disabled="!isLoaded || isviewmode"
   ng-model="tpdepth">
    {{freq.label}}
    <span class="icon-chevron-down"></span>
   </button>
   <ul class="dropdown-menu dropdown-default ng-scope" role="menu" uib-dropdown-menu="">
    <li class="dropdown-header">{{freqDescription}}</li>
    <li ng-repeat="opt in freqlist">
      <a href ng-click="changeFreqDist(opt, $index)">{{opt.label}}</a>
    </li>
  </ul>
</div>
