

SetEnvIf Origin "^http(s)?://(%{HTTP_HOST}|.+\.auriq\.com)(:9000)$" ORIGIN=$0
Header set Access-Control-Allow-Origin %{ORIGIN}e env=ORIGIN
Header set Access-Control-Allow-Credentials true

Options -Indexes

